@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background: rgb(161, 161, 170);
  background: linear-gradient(
    90deg,
    rgba(161, 161, 170, 1) 0%,
    rgba(212, 212, 216, 1) 50%
  );
}

html {
  scroll-behavior: smooth;
  overflow-x: hidden;
}

#navbar {
  background: rgb(161, 161, 170);
  background: linear-gradient(
    90deg,
    rgba(161, 161, 170, 1) 0%,
    rgba(212, 212, 216, 1) 50%
  );
}

.headshot-border {
  position: relative;
}
.headshot-border::before {
  content: '';
  height: 95%;
  width: 90%;
  border: 4px solid #d97706;
  position: absolute;
  z-index: 1;
  top: -2.5px;
  right: 30px;
  border-radius: 12px;
}

.headshot-border::after {
  content: '';
  height: 95%;
  width: 90%;
  border: 2px solid #d97706;
  position: absolute;
  top: -15px;
  right: 45px;
  border-radius: 12px;
}
.headshot-border img {
  z-index: 2;
  position: relative;
}

.logo-nav {
  width: 50px;
  height: 50px;
}

.project-icon {
  width: 20px;
  height: 20px;
}

.screenshot-border-a {
  position: relative;
}
.screenshot-border-a::before {
  content: '';
  height: 95%;
  width: calc(100% + 30px);
  border: 4px solid #d97706;
  position: absolute;
  z-index: 1;
  top: 2px;
  right: -55px;
  border-radius: 12px;
}

.screenshot-border-a::after {
  content: '';
  height: 95%;
  width: calc(100% + 30px);
  border: 2px solid #d97706;
  position: absolute;
  top: -5px;
  right: -62px;
  border-radius: 12px;
}
.screenshot-border-a img {
  z-index: 2;
  position: relative;
}

.screenshot-border-b {
  position: relative;
}
.screenshot-border-b::before {
  content: '';
  height: 95%;
  width: calc(100% + 35px);
  border: 4px solid #d97706;
  position: absolute;
  z-index: 1;
  top: 2px;
  right: -25px;
  border-radius: 12px;
}

.screenshot-border-b::after {
  content: '';
  height: 95%;
  width: calc(100% + 35px);
  border: 2px solid #d97706;
  position: absolute;
  top: -5px;
  right: -18px;
  border-radius: 12px;
}
.screenshot-border-b img {
  z-index: 2;
  position: relative;
}

.contact-border {
  position: relative;
}
.contact-border::before {
  content: '';
  height: 99%;
  width: calc(100% + 5px);
  border: 4px solid #d97706;
  position: absolute;
  z-index: -1;
  top: -8px;
  right: 10px;
  border-radius: 12px;
}

.contact-border::after {
  content: '';
  height: 99%;
  width: calc(100% + 5px);
  border: 2px solid #d97706;
  position: absolute;
  z-index: -1;
  top: -14px;
  right: 20px;
  border-radius: 12px;
}

.section-title {
  font-family: 'Oswald', sans-serif;
}

.skill-icon {
  width: 40px;
  height: 40px;
}

.skill-div {
  margin-bottom: 15px;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

@media screen and (min-width: 768px) {
  .headshot-border::before {
    content: '';
    height: 95%;
    width: 95%;
    border: 4px solid #d97706;
    position: absolute;
    z-index: 1;
    top: -2.5px;
    right: 30px;
    border-radius: 12px;
  }

  .headshot-border::after {
    content: '';
    height: 95%;
    width: 95%;
    border: 2px solid #d97706;
    position: absolute;
    top: -15px;
    right: 45px;
    border-radius: 12px;
  }
}

@media screen and (min-width: 1024px) {
  .skill-icon {
    width: 55px;
    height: 55px;
  }
}

@media screen and (min-width: 1280px) {
  .headshot-border::before {
    content: '';
    height: 95%;
    width: 70%;
    border: 4px solid #d97706;
    position: absolute;
    z-index: 1;
    top: -5px;
    right: 100px;
  }

  .headshot-border::after {
    content: '';
    height: 95%;
    width: 70%;
    border: 2px solid #d97706;
    position: absolute;
    top: -15px;
    right: 115px;
  }

  .screenshot-border-a::before {
    content: '';
    height: 95%;
    width: 78%;
    border: 4px solid #d97706;
    position: absolute;
    z-index: 1;
    top: -1.5px;
    right: 50px;
    border-radius: 12px;
  }

  .screenshot-border-a::after {
    content: '';
    height: 95%;
    width: 78%;
    border: 2px solid #d97706;
    position: absolute;
    top: -10px;
    right: 40px;
    border-radius: 12px;
  }

  .screenshot-border-b::before {
    content: '';
    height: 95%;
    width: 78%;
    border: 4px solid #d97706;
    position: absolute;
    z-index: 1;
    top: -1.5px;
    right: 77px;
    border-radius: 12px;
  }

  .screenshot-border-b::after {
    content: '';
    height: 95%;
    width: 78%;
    border: 2px solid #d97706;
    position: absolute;
    top: -10px;
    right: 87px;
    border-radius: 12px;
  }

  .skill-icon {
    width: 65px;
    height: 65px;
  }
}
